// RESPONSIVE
$media-style: min-width;
@mixin respond-to($breakpoint) {
	@media only screen and ($media-style: $breakpoint) { @content; }
}

@mixin phone() { @include respond-to($phone) { @content; } }
@mixin phone-w() { @include respond-to($phone-w) { @content; } }
@mixin tablet() { @include respond-to($tablet) { @content; } }
@mixin tablet-l() { @include respond-to($tablet-l) { @content; } }
@mixin tablet-w() { @include respond-to($tablet-w) { @content; } }
@mixin laptop() { @include respond-to($laptop) { @content; } }
@mixin desktop() { @include respond-to($desktop) { @content; } }
@mixin lgscreen() { @include respond-to($lgscreen) { @content; }}

// HOVER TRANSITION
@mixin hoverTransition($duration, $function) {
	-webkit-transition-duration: $duration;
	-webkit-transition-timing-function: $function;
	-moz-transition-duration: $duration;
	-moz-transition-timing-function: $function;
	-o-transition-duration: $duration;
	-o-transition-timing-function: $function;
	transition-duration: $duration;
	transition-timing-function: $function;
}